<!DOCTYPE html>
<html lang="en" ng-app="ToDo">
<head>
    <meta charset="UTF-8">
    <link href = "css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <style>
        .done{text-decoration:line-through;color:#ccc;}
        #c{
            color: red;
        }
    </style>

</head>

<body>
<div class="page-header danger">
    <center><h2> ToDo App </h2></center>
</div>
<div class="col-md-4">
</div>

<div class="row">
    <div class="col-md-4">
        <div ng-controller="todoController">
            
            <div class="row">
                <div class="container">
                <div class="col-md-1">
                </div>

                <button type="button" class="btn btn-info" data-toggle="modal" ng-click="" data-target="#myModal"> <i class="fa fa-meh-o" aria-hidden="true"></i></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add To Do Work &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-meh-o" aria-hidden="true"></i></button>
                
                <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Add Your todo Work here</h4>
                            </div>
                            <div class="modal-body">
                            <form name="frm" ng-submit="addTodo()"><!-- Enter Item-->
                                <input class="form-control input-lg" type="text" name="newtodo" ng-model="todoText" placeholder="Enter Your Work To Do..." required/>
                            </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addTodo()">Add</button>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            </div>
           <br> </br>
            <div class="row">    
                <ul>
    					<span ng-repeat="todo in todos track by $index"><!-- Display To do list -->
    						<div class="panel panel-info">
    							<div class="panel-body">
                                    <div class="col-md-1">
    								    <input type="checkbox" ng-model="todo.done"/>
    								</div>
                                    <div class="col-md-10">
                                        <span ng-class="{'done':todo.done}">{{todo.text}}</span>
    								</div>
                                    <div class="col-md-1">
                                        <button class="btn btn-default btn-xs" ng-click="delete()"><div id="c" ><i class="fa fa-times" aria-hidden="true"></i></div></font></button>
    							    </div>
                                </div>
    						</div>
    					</span>
                </ul>
            </div>

             <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    
                    <button class="btn btn-info"  ng-click="clearCompleted()"> Clear Completed  </button><!-- Clear Complted Button -->
                    
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-info"  ng-click="undone()"> UnDone Activity </button><!-- Undone Button -->
                </div>
            
            </div>
            <br></br>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"> </script>
<script>
    angular.module("ToDo",[]).controller("todoController", function($scope){
        $scope.appname = "ABC";
        $scope.saved = localStorage.getItem('todos');
        $scope.todos = (localStorage.getItem('todos')!==null) ? JSON.parse($scope.saved) : [ ];
        localStorage.setItem('todos', JSON.stringify($scope.todos));

        $scope.addTodo = function() {
            $scope.todos.push({
                text: $scope.todoText,
                done: false
            });
            $scope.todoText = ''; //clear the input after adding
            localStorage.setItem('todos', JSON.stringify($scope.todos));
        };

        $scope.delete = function(){
            $scope.todos.splice(this.$index,1);
            localStorage.setItem('todos', JSON.stringify($scope.todos));
        }

        $scope.clearCompleted = function(){
            var oldTodos = $scope.todos;
            $scope.todos = [];
            angular.forEach(oldTodos, function(todo){
                if (!todo.done)
                    $scope.todos.push(todo);
            });

            localStorage.setItem('todos', JSON.stringify($scope.todos));
        }
        $scope.undone = function(){
            $scope.todos = $scope.todos.filter(function(item){
                return !item.done
            })

        }

    })

</script>

<script src="js/bootstrap.min.js"> </script>
</body>

</html>