<!DOCTYPE html>
<html lang="en" ng-app="ToDo">
<head>
    <meta charset="UTF-8">
    <link href = "css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <style>
        .done{text-decoration:line-through;color:#ccc;}
        #c{
            color: red;
        }
    </style>

</head>

<body>
<div class="page-header danger">
    <center><h2> ToDo App </h2></center>
</div>
<div class="col-md-4">
</div>

<div class="row">
    <div class="col-md-4">
        <div ng-controller="todoController">
            
            <div class="row">
                <div class="container">
                <div class="col-md-1">
                </div>

                <button type="button" class="btn btn-info" data-toggle="modal" ng-click="" data-target="#myModal"> <i class="fa fa-meh-o" aria-hidden="true"></i></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add To Do Work &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-meh-o" aria-hidden="true"></i></button>
                
                <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Add Your todo Work here</h4>
                            </div>
                            <div class="modal-body">
                            <form name="frm" ng-submit="addTodo()"><!-- Enter Item-->
                                <input class="form-control input-lg" type="text" name="newtodo" ng-model="todoText" placeholder="Enter Your Work To Do..." required/>
                            </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addTodo()">Add</button>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            </div>
           <br> </br>
            <div class="row">    
                <todo-item></todo-item>
            </div>

             <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    
                    <button class="btn btn-info"  ng-click="clearCompleted()"> Clear Completed  </button><!-- Clear Complted Button -->
                    
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-info"  ng-click="undone()"> UnDone Activity </button><!-- Undone Button -->
                </div>
            
            </div>
            <br></br>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"> </script>
<script src="js/bootstrap.min.js"> </script>
<script src="Todo.js"> </script>
</body>

</html>